HOST=http://localhost:3000
SHOPIFY_STORE=erics-rad-store.myshopify.com
SHOPIFY_MULTIPASS_SECRET=xxx

SHOPIFY_API_KEY=xxx
SHOPIFY_API_PASSWORD=xxx
SHOPIFY_API_SECRET=xxx
SHOPIFY_STOREFRONT_TOKEN=xxx

FIREBASE_DB_URL=https://vendorportal.firebaseio.com